In [3]:
#### Capitulo 5 Estructuras de datos ####
## 5.1 Ejemplo métodos mas usados en listas ##
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [4]:
fruits.count('tangerine')

0

In [5]:
fruits.index('banana')

3

In [6]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [11]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [12]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [13]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [14]:
fruits.pop()

'pear'

In [15]:
# 5.1.1 Usando listas como pilas
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [16]:
stack.pop()

7

In [17]:
stack

[3, 4, 5, 6]

In [18]:
stack.pop()
stack.pop()
stack

[3, 4]

In [22]:
# 5.1.2 Usando listas como colas
# para la implementación se usa collections.deque por ser mas eficiente
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [23]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [24]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [25]:
# 5.1.3 List Comprehensions
squares = []
for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
squares2 = list(map(lambda x: x**2, range(10)))
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [28]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [29]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [30]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [31]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [32]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [33]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [34]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-34-702d12ece8a4>, line 2)

In [36]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
# expresiones complejas
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [38]:
# 5.1.4 Nested List Comprehensions
# ejemplo de una matriz 3x4
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
# Da vuelta a las filas y columnas
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [39]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [40]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [41]:
# Función compleja que hace el trabajo
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [42]:
## 5.2 La sentencia del - borrando el item según el índice (posición) ##
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [43]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [44]:
del a[:]
a

[]

In [45]:
del a
a

NameError: name 'a' is not defined

In [46]:
## 5.3 Tuplas y Secuencias
t = 12345, 54321, 'hello!'
t[0]

12345

In [47]:
t

(12345, 54321, 'hello!')

In [48]:
# Las tuplas puede ser anidadas
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [49]:
# Las tuplas son inmutables
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [50]:
# Pero pueden contener objetos mutables
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [52]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
print(len(empty))
print(len(singleton))
print(singleton)

0
1
('hello',)

In [54]:
x, y, z = t
print(x)
print(y)
print(z)

12345
54321
hello!

In [55]:
## 5.4 Conjuntos ##
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
print('orange' in basket)                 # fast membership testing
print('crabgrass' in basket)

{'pear', 'banana', 'orange', 'apple'}
True
False

In [56]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
print(a)               # unique letters in a
print(a - b)           # letters in a but not in b
print(a | b)           # letters in a or b or both
print(a & b)           # letters in both a and b
print(a ^ b)           # letters in a or b but not both

{'d', 'a', 'r', 'b', 'c'}
{'b', 'd', 'r'}
{'d', 'l', 'a', 'm', 'r', 'b', 'c', 'z'}
{'c', 'a'}
{'r', 'z', 'd', 'b', 'l', 'm'}

In [57]:
# Similarly to list comprehensions, set comprehensions are also supported
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [58]:
## 5.5 Diccionarios
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)
print(tel['jack'])
del tel['sape']
tel['irv'] = 4127
print(tel)
print(list(tel))
print(sorted(tel))
print('guido' in tel)
print('jack' not in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']
True
False

In [59]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [60]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [61]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}